<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stat Slugger Email Confirmation</title>
</head>

<body>
  <a href="{{websiteURL}}">
    <img src="https://i.imgur.com/TChfonf.png" style="width: 80px; height: auto;">
  </a>
  <h1 style="font-family: Arial, sans-serif;">Confirm your email</h1>
  <p style="font-family: Arial, sans-serif;">
    Hi <strong>{{displayName}}</strong>,
    <br>
    Please confirm your email address by clicking below.
  </p>
  <a href="{{link}}">
    <button
      style="font-family: Arial, sans-serif; padding: 0.5rem 1rem; font-size: 1rem; outline: none; border: none; background-color: #ef4444; color: white; border-radius: 0.25rem;">
      Confirm
    </button>
  </a>
  <p style="font-family: Arial, sans-serif;">
    If you did not make an account, please ignore this email.
  </p>
  <p>
    Thanks,
    <br>
    Stat Slugger
  </p>
</body>

</html>