<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stat Slugger Email Confirmation</title>
</head>

<body>
  <a href="{{websiteURL}}">
    <img src="https://i.imgur.com/TChfonf.png" style="width: 80px; height: auto;">
  </a>
  <h1 style="font-family: Arial, sans-serif;">Password changed</h1>
  <p style="font-family: Arial, sans-serif;">
    Hi <strong>{{displayName}}</strong>,
    <br>
    This email is to let you know that your password on Stat Slugger was changed on {{date}}. If you did not do this, please contact support at <a href="mailto:statslugger+support@gmail.com">statslugger+support@gmail.com</a>
  </p>
  <p>
    Thanks,
    <br>
    Stat Slugger
  </p>
</body>

</html>